/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #195d72;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(192, 59, 59)
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  font-family:"gamga flower";
  font-size: 300%;
  color: rgb(192, 59, 59)
  margin: 20px;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin-left: 10px;
  padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #d39d5f;
}
