/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #79aa79;
  }

  body {
    background-color: rgb(91, 145, 93);
  }

  .special {
    background-color: lavender;
    border: dotted 2px red;
    color: pink;
    font-weight: bold;
}

